*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.875em;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

@media screen and (max-width:767px) {
  html {
    font-size: 0.75em;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }
  .hide-mobel {
    display: none;
  }
}

@media screen and (min-width:768px) {
  html {
    font-size: 0.875em;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }
  .hide-pc {
    display: none;
  }
}

.el-header,
.el-main,
.el-footer {
  padding: 0 !important;
}
